<div class="update-container">
    <div class="update-text">
        <span style="font-size: 18px; color: #000000; font-weight: 700; font-family: sans-serif;">Stay Up to Date</span>
        <span style="font-size: 14px; font-family: sans-serif; color: #828B94; font-weight: 500;">Get the latest travel deals and updates straight to your inbox.</span>
    </div>
    <div class="search">
        <input type="email" placeholder="Your Email...">
        <button>
            <img src="assets/send.png" alt="">
        </button>
    </div>
</div>