.update-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  background-color: #e3e9ee;
  padding: 1rem 4rem;
  gap: 2rem;
  margin: 2rem 0;
}

.update-text {
  //max-width: 410px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.update-text span {
  width: 100%;
}

.serach-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.search {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  justify-content: center;
  border-radius: 26px;
  max-width: 847px;
}

.search input {
  width: 100%;
  outline: none;
  height: 100%;
  border: none;
  margin: 1rem;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 500;
}

.search button {
  background-color: #388857;
  border: none;
  border-radius: 50%;
  align-items: center;
  display: flex;
  text-align: center;
  padding: 0.75rem;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .update-text {
    max-width: 410px;
  }
}

@media (max-width: 1024px) {
  .update-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 2rem;
  }
  .update-text {
    width: 100%;
  }
  .serach-container {
    width: 100%;
    justify-content: left;
  }
  .search {
    max-width: 647px;
  }
}

@media (max-width: 768px) {
  .update-container {
    padding: 1rem 1rem;
  }
}
