
<app-images-view></app-images-view>
<div class="apartment">
    <div class="description">
        <app-modern-apartment class="modern"></app-modern-apartment>
        <app-apartment-description></app-apartment-description>
    </div>
    <app-reservation-card style="display: flex; align-items: center; justify-content: center;"></app-reservation-card>
</div>

<app-ghest-services-card></app-ghest-services-card>
<app-safety-card></app-safety-card>
<div class="google-map">
    <img src="assets/map.png" alt="">
</div>
<app-rate></app-rate>
<app-user-comment></app-user-comment>
<app-stay-update></app-stay-update>
<div class="info-footer-container">
    <app-info-left-side class="item1"></app-info-left-side>
    <app-info-options class="item2"></app-info-options>
</div>
<app-detail-item-footer></app-detail-item-footer>
