
<app-images-view></app-images-view>
<div style="display: grid; grid-template-columns: 2fr 1fr; width: 100%; align-items: center;">
    <app-modern-apartment></app-modern-apartment>
    <app-reservation-card style="display: flex; align-items: center; justify-content: center;"></app-reservation-card>
</div>
<app-ghest-services-card></app-ghest-services-card>
<app-safety-card></app-safety-card>
<img src="assets/map.png" alt="">
<app-rate></app-rate>
<app-user-comment></app-user-comment>
<app-stay-update></app-stay-update>