.header{
  width: 100%;
  background-color: white;
}



.sign-in{
  background-color: #08D394;
  width: 100%;
  padding: 1rem 0;
  border: none;
  border-radius: 10px;
  color: balck;
  font-size: 18px;
}

.sign-in:hover{
  background-color: cornflowerblue;
  cursor: pointer;
}