.header{
  width: 100%;
  background-color: white;
}

.link{
    color: greenyellow;
    text-decoration: none;
}

.sign-in{
    background-color: greenyellow;
    width: 100%;
    padding: 0.5rem 0;
    border: none;
    border-radius: 10px;
    color: balck;
    font-size: 18px;
}

.sign-in:hover{
  background-color: cornflowerblue;
  cursor: pointer;
}