<div class="container">
  <div class="header">
    <img src="assets/visitiran.png" style="width: 114px; height: 18px; margin-bottom: 20px;"/>
    <h1 style="font-family: sans-serif; font-size: 25px; font-weight: bold;">Login</h1>
    <app-input-boxs></app-input-boxs>
    <app-details></app-details>
    <button type="button" class="sign-in">Sign in</button>
    <app-signin-button></app-signin-button>
    <div class="bottom-link">
      <span>Don't you have an account?  <a href=""> Sign up now</a></span>
    </div>
  </div>
</div>