<div class="wrapper">
  <div class="container">
    <div class="header">
      <div class="logo-container">
        <img src="assets/visitiran.png" class="logo" />
      </div>
      <h1>Login</h1>
      <app-signin-button></app-signin-button>
      <div class="divider">
        <span style="font-family: sans-serif">Or</span>
      </div>
      <app-input-boxs></app-input-boxs>
      <app-details
        (showForm)="showMainForm($event)"
        style="width: 100%"
      ></app-details>
      <button type="button" class="sign-in">Login with email</button>
      <div class="bottom-link">
        <span
          >Don't you have an account?
          <a routerLink="/signup"> Sign up now</a></span
        >
      </div>
    </div>
  </div>
  <div class="image-home-container">
    <div class="image-wraper">
      <img src="assets/travel2.jpg" alt="" class="home-img" />
    </div>
  </div>
  <!-- forgot password -->
  <div
    [ngStyle]="{ display: show ? 'block' : 'none' }"
    class="forgot-password-container"
  >
    <div class="background-blur"></div>
    <div class="forgot-card">
      <div (click)="hideMainForm()" class="close">
        <img src="assets/close-button.svg" alt=""/>
      </div>
      <div class="card-details">
        <span class="title">Forgot Password</span>
        <div class="text">
          Enter the email address thet associated with your account. We will
          send you an 4-digits code to reset your password.
        </div>
        <input type="email" placeholder="Example@gmail.com" class="forgot-input"/>
        <button type="button" (click)="showEnterCode()" class="get-code-button">
          Get the code
        </button>
      </div>
    </div>
  </div>
  <!-- enter code -->
  <div
    [ngStyle]="{ display: EnterCode ? 'block' : 'none' }"
    class="forgot-password-container"
  >
    <div class="background-blur"></div>
    <div class="forgot-card">
      <div class="close" (click)="hideEnterCode()">
        <img src="assets/close-button.svg" alt=""/>
      </div>
      <div class="card-details">
        <span class="title">Enter Code</span>
        <div class="text">
          Enter the code we just sent you on your email address.
        </div>
        <div class="otp-boxes" style="display: flex; gap: 0.5rem">
          <input
            *ngFor="let item of otpArray; let i = index"
            type="text"
            maxlength="1"
            class="otp-input"
            [(ngModel)]="otp[i]"
            (keyup)="moveFocus($event, i)"
          />
        </div>
        <button type="button" (click)="showResetPassword()" class="submit-button">Submit</button>
        <div class="resend">
          Didn’t get the code?
          <a href="">Resend</a>
        </div>
      </div>
    </div>
  </div>
  <!-- reset password -->
  <div
    [ngStyle]="{ display: resetPassword ? 'block' : 'none' }"
    class="forgot-password-container"
  >
    <div class="background-blur"></div>
    <div class="forgot-card">
      <div class="close" (click)="hideResetPassword()">
        <img
          src="assets/close-button.svg"
          alt=""
          style="float: right; right: 30px"
        />
      </div>
      <div class="card-details">
        <span class="title">Reset Password</span>
        <div class="text">
          Create your new password below.
        </div>
        <input type="email" placeholder="New Password" class="new-password-input"/>
        <input type="email" placeholder="Confirm Password" class="confirm-password-input"/>
        <button class="reset-button"
          type="button" (click)="hideResetPassword()">Reset
        </button>
      </div>
    </div>
  </div>
</div>
