<div class="apartment-conteiner">
    <div class="apartment-head">
        <div class="text">
            <span class="text-1">Modern Furnished Apartment</span>
            <span class="text-2">Imam Reza St., Corner of Imam Reza 20, Mashhad, Iran</span>
        </div>
        <div class="icons">
            <img src="assets/like.png" alt="">
            <img src="assets/share.png" alt="">
        </div>
    </div>
    <div class="apartment-cards">
        <div>
            <img src="assets/bed.png" alt="">
            <span>3 Bedrooms</span>
        </div>
        <div>
            <img src="assets/bathroom.png" alt="">
            <span>2 Bathrooms</span>
        </div>
        <div>
            <img src="assets/car.png" alt="">
            <span>3 Cars/2 Bikes</span>
        </div>
        <div>
            <img src="assets/pet.png" alt="">
            <span>0 Pets Allowed</span>
        </div>
    </div>
</div>