.apartment-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: pink;
    width: 100%;
    gap: 1rem;
}

.apartment-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: red;
}

.text{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.text span{
    width: 100%;
    text-align: left;
}

.text-1{
    font-size: 28px;
    font-weight: 700;
    color: #484848;
    font-family: sans-serif;
}

.text-2{
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    color: #9A9A9A;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.icons img{
    width: 27.77px;
}

//--------- apartement cards ---------

.apartment-cards{
    gap: 1rem;
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    background-color: yellow;
}
.apartment-cards div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #E3E9EE;
    aspect-ratio: 4/4;
    max-width: 194px;
    max-height: 177px;
    border-radius: 12px;
}
.apartment-cards div img{
    width: 39.37px;
}

.apartment-cards div span{
    font-size: 16px;
    color: #424950;
    font-family: sans-serif;
    font-weight: 700;
}

@media (max-width : 768px) {
    .apartment-conteiner{
        max-height: 467px;
    }
    .apartment-cards{
        grid-template-columns: 1fr 1fr;
    }
    .apartment-cards div img{
        width: 29px;
    }
    .apartment-cards div span{
        font-size: 14px;
    }
}