<div class="wrapper">
  <a routerLink="/signup" class="arrow">
    <img src="assets/arrowback.svg" alt="arrow"></a>
  <div class="account-container">
       <div class="container">
           <div class="header">
                <div class="logo-container">
                    <img src="assets/visitiran.png" class="logo" />
                </div>
                <p>Create your account</p>
                <app-button-details style="width: 100%;"></app-button-details>
                <div class="check-box">
                  <input type="checkbox"/>
                  <div>By creating an account, I agree to our <a href="">Terms of use</a> and <a href="">Privacy policy</a></div>
                </div>
                <re-captcha class="recaptcha-container"
                siteKey="6LdmirUrAAAAAMjFrWFCYfx_S89GpX1Z9yuuyfHg"
                (resolved)="onCaptchaResolved($event)">
                </re-captcha>
                <button type="button" class="sign-in"><a routerLink="/signupemail">Sign up with email</a></button>
            </div>
        </div>
    <div class="image-home-container">
      <div class="image-wraper">
        <img src="assets/travel2.jpg" alt="" class="home-img" />
      </div>
    </div>
  </div>
</div>
