<div class="container">
    <div class="logo">
        <img src="assets/visitiran-footer.png" alt="">
    </div>
    <div class="text">
        <span>Discover the beauty of Iran – tours, hotels, and cultural experiences in one place.</span>
    </div>
    <div class="buttons-container">
        <div class="buttons">
            <button>
                <img src="assets/google-play.png" alt="">
                <span>Google Play</span>
            </button>
            <button>
                <img src="assets/app-store.png" alt="">
                <span>App Store</span>
            </button>
        </div>
    </div>
</div>