/* Frame 36731 */
.frame{
    position: relative;
    width: 1440px;
    height: 812px;
}

/*.digit-4{
    position: absolute;
    visibility: hidden;
    width: 313.2px;
    height: 361.95px;
    left: 270px;
    top: 258px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 480px;
    line-height: 28px;
}

.img454{
    position: absolute;
    width: 61px;
    height: 62px;
    left: 177px;
    top: 231px;
    border-radius: 8px;
}*/

.img437{
    position: absolute;
    width: 84px;
    height: 56px;
    left: 170px;
    top: 0px;

    background: url(image.png);
    opacity: 0.8;
    border-radius: 8px;
}

.img442{
position: absolute;
width: 72px;
height: 44px;
left: 185px;
top: 184px;

background: url(image.png);
border-radius: 8px;
}