<!--<div class="frame">
    <div class="error-container">
    <div class="digit-4">

      <img src="assets/error404/437.png" alt="" class="img437">
      <img src="assets/error404/442.png" alt="" class="img442">
      <img src="image.png" alt="">
      <img src="image.png" alt="">
      <img src="image.png" alt="">
      <img src="image.png" alt="">
      <img src="image.png" alt="">
      <img src="image.png" alt="">
      <img src="image.png" alt="">
    </div>

    <div class="digit-0">

      <img src="image.png" alt="">
      <img src="image.png" alt="">
      <img src="image.png" alt="">
      <img src="image.png" alt="">
      <img src="image.png" alt="">
      <img src="image.png" alt="">
      <img src="image.png" alt="">
      <img src="image.png" alt="">
      <img src="image.png" alt="">
    </div>

    <div class="digit">
      <img src="image.png" alt="">
      <img src="image.png" alt="">
      <img src="image.png" alt="">
      <img src="image.png" alt="">
      <img src="image.png" alt="">
      <img src="image.png" alt="">
      <img src="image.png" alt="">
      <img src="image.png" alt="">
      <img src="image.png" alt="">
    </div>
   </div>

  <h2>Whoops ,  Looks Like You Are In the wrong page place</h2>

  <button class="back-btn" onclick="window.location.href='index.html'">
    return to main page
  </button>
</div>-->

<div class="wrapper">
  <div class="container">
    <div class="image">
      <img src="assets/404.jpg" alt="">
    </div>
    <div class="text">Whoops ,  Looks Like You Are In the wrong page place</div>
    <button><a routerLink="/login">return to main page</a></button>
  </div>
</div>