.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 4rem;
}
//-------- 404 image ----------
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1062px;
    width: 80%;
}
.image img{
    width: 100%;
}

.text{
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 500;
    max-width: 1062px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.container button{
    background-color: #08D394;
    border: none;
    text-align: center;
    padding: 10px 14px;
    border-radius: 32px;
    cursor: pointer;
}

.container button a{
    color: #FFFFFF;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    text-decoration: none;
}


@media (max-width: 1024px) {
    .container{
        gap: 3rem;
    }
    .text{
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .container{
        gap: 2rem;
    }
    .image{
        width: 90%;
    }
    .text{
        font-size: 18px;
    }
    .container button a{
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .text{
        font-size: 14px;
    }
    .container button a{
        font-size: 12px;
    }
}