.box {
  width: 100%;
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.label {
  color: black;
  font-size: 15px;
  font-family: Arial, sans-serif;
  font-weight: 400;
}

.input {
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 5.31px;
}

.input-style {
  background-color: white;
  width: 328px;
  padding: 12px;
  box-sizing: border-box;
  border: 0.66px solid #DCE3E0;
  border-radius: 8px;
  color: #a1aca8;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.input-style:focus{
  outline: #ACE3CF;
  border-color: #ACE3CF;
}
