
<a routerLink="/login" style="position: absolute; top: 40px; left: 40px; z-index: 1000;">
<img src="assets/arrowback.svg" alt="" style="align-items: center;"></a>
<div class="wrapper">
  <div class="container">
    <div class="header">
      <div class="logo-container">
        <img src="assets/visitiran.png" class="logo"/>
      </div>
      <h1>Sign Up</h1>
      <app-signin-button></app-signin-button>
      <div class="divider">
        <span style="font-family: sans-serif;">Or</span>
      </div>
      <button type="button" class="sign-in"><a routerLink="/signupemail">Sign up with email</a></button>
    </div>
  </div>
  <div class="image-home-container">
    <div class="image-wraper">
          <img src="assets/travel2.jpg" alt="" class="home-img">
    </div>
  </div>
</div>
