<div class="rate-container">
    <div class="rate-title">
        <img src="assets/star.png" alt="">
        <span>4.8</span>
    </div>
    <div class="options">
        <div class="item">
            <span>Amenities</span>
            <div class="rating-progress">
              <div class="progress-bar">
                  <div class="progress-fill" style="width: 100%;"></div>
              </div>
              <div class="rating-text">5.0</div>
            </div>
        </div>
        <div class="item">
            <span>Hygiene</span>
            <div class="rating-progress">
                <div class="progress-bar">
                    <div class="progress-fill" style="width: 100%;"></div>
                </div>
              <div class="rating-text">5.0</div>
            </div>
        </div>
        <div class="item">
            <span>Communication</span>
            <div class="rating-progress">
              <div class="progress-bar">
                  <div class="progress-fill" style="width: 56%;"></div>
              </div>
              <div class="rating-text">2.8</div>
            </div>
        </div>
        <div class="item">
            <span>Location of Property</span>
            <div class="rating-progress">
              <div class="progress-bar">
                  <div class="progress-fill" style="width: 56%;"></div>
              </div>
              <div class="rating-text">2.8</div>
            </div>
        </div>
        <div class="item">
            <span>Value for Money</span>
            <div class="rating-progress">
              <div class="progress-bar">
                  <div class="progress-fill" style="width: 70%;"></div>
              </div>
              <div class="rating-text">4.7</div>
            </div>
        </div>
    </div>
</div>
