.back1{
    padding: 1rem 2rem;
    border-radius: 30px;
    max-width: 750px;
    width: 90%;
    background-color: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 950px) {
    .back1{
        width: 50%;
    }
}