<div class="card-container">
    <div class="item1">$ 1000 - $ 2000</div>
    <div class="item2">
        <div class="item2-text">
            <span>Weekly Stay: $1000</span>
            <span>Monthly Stay: $2000</span>
           <span>Extended Stay: $2000</span>
        </div>
        <button class="reservation-button">Make a Reservation</button>
        <div class="item2-buttons">
            <button>
                <img src="assets/home.png" alt="">
                <span>Get in Touch</span>
            </button>
            <button>
                <img src="assets/call.png" alt="">
                <span>Request Info</span>
            </button>
        </div>
    </div>
</div>