<div class="info-container">
    <div class="company" style="gap: 2rem;">
        <span class="title">COMPANY</span>
        <div class="tags">
            <a href="">About Us</a>
            <a href="">Legal Information</a>
            <a href="">Contact Us</a>
            <a href="">Blogs</a>
        </div>
    </div>
    <div class="help-center" style="gap: 2rem;">
        <span class="title">Help Center</span>
        <div class="tags">
            <a href="">How to Book</a>
            <a href="">How to Host</a>
            <a href="">Why Visit Iran?</a>
            <a href="">FAQs</a>
            <a href="">Travel Guides</a>
        </div>
    </div>
    <div class="contact-info" style="gap: 2rem;">
        <span class="title">Contact Info</span>
        <div class="text">
            <span>+98 21 1234 5678</span>
            <span>support@visitiran.com</span>
            <span>Mashhad , Iran</span>
        </div>
        <div class="info-icons-container">
        <div class="info-icons">
            <a href=""><img src="assets/facebook-icon.png" alt="" class="item"></a>
            <a href=""><img src="assets/twitter-icon.png" alt="" class="item"></a>
            <a href=""><img src="assets/insta-icon.png" alt="" class="item"></a>
            <a href=""><img src="assets/linkedin-icon.png" alt="" class="item"></a>
        </div>
        </div>
    </div>
</div>