<div class="safety-container">
    <div class="safety-title">Cleanliness & Safety</div>
    <div class="options">
        <div class="item1">
            <div class="item1-detail">
                <img src="assets/health.png" alt="">
                <span>Room Sanitization</span>
            </div>
            <div class="item1-detail">
                <img src="assets/health.png" alt="">
                <span>Room Sanitization</span>
            </div>
        </div>

        <div class="item2">
            <div class="item2-detail">
                <img src="assets/health.png" alt="">
                <span>Room Sanitization</span>
            </div>
            <div class="item2-detail">
                <img src="assets/health.png" alt="">
                <span>Room Sanitization</span>
            </div>
        </div>
    </div>
</div>