.images-container{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    background-color: aqua;
    width: 100%;
    gap: 1rem;
}

.image-item{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: red;
    width: 100%;
}

.image-item img{
    border-radius: 16px;
    object-fit: cover;
    max-width: 303px;
    max-height: 260px;
    width: 80%;
}

.item1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.item1 img{
    border-radius: 16px;
    object-fit: cover;
    max-width: 630px;
    width: 80%;
}

.item2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: yellow;
    gap: 1rem;
}