<div class="images-container">
    <div class="item1">
        <img src="assets/images-view-pic/view1.jpg" alt="">
    </div>
    <div class="item2">
        <div class="image-item">
            <img src="assets/images-view-pic/view2.jpg" alt="">
        </div>
        <div class="image-item">
            <img src="assets/images-view-pic/view3.jpg" alt="">
        </div>
        <div class="image-item">
            <img src="assets/images-view-pic/view4.jpg" alt="">
        </div>
        <div class="image-item">
            <img src="assets/images-view-pic/view5.jpg" alt="">
        </div>
    </div>
</div>