

<div style="width: 100vw; align-items: center;
justify-content: center; display: flex;">
    <div class="container">
        <div class="input">
            <img src="assets/searchicon.svg" alt="" style="cursor: pointer;">
            <input type="search" placeholder="Search in the cards..." style="outline: none; border: none;" [(ngModel)]="userName" (input)="searchUser()">
        </div>
        <button type="button" (click)="searchUser()">
            <img src="assets/filter.svg" alt="">
            <span>Filter</span>
        </button>
    </div>
</div>

<table class="user-list">
    <tr class="users-item" style="background-color: #EFEFEF;">
        <td class="head">
           <input type="checkbox">
           <span>User Name</span>
        </td>
        <td>Booking Date</td>
        <td>Trip ID</td>
        <td>Destination</td>
        <td>Category</td>
        <td>Amount Paid</td>
    </tr>
    <tr *ngFor="let item of users" class="users-item">
        <td class="details">
            <input type="checkbox">
            <img [src]="item.image" [alt]="item.id" class="user-img">
            <span>{{item.name}}</span>
        </td>
        <td>{{item.bookingDate}}</td>
        <td>{{item.tripID}}</td>
        <td>{{item.destination}}</td>
        <td>{{item.category}}</td>
        <td>{{item.amount}}</td>
    </tr>
</table>
