<div class="ghest-container">
    <div class="ghest-title">Guest Services</div>
    <div class="options">
        <div class="item1">
            <div class="item1-detail">
                <img src="assets/kitchen.png" alt="">
                <span class="text">Kitchen</span>
            </div>
            <div class="item1-detail">
                <img src="assets/air-condition.png" alt="">
                <span class="text">Kitchen</span>
            </div>
            <div class="item1-detail">
                <img src="assets/washer.png" alt="">
                <span class="text">Kitchen</span>
            </div>
        </div>

        <div class="item2">
            <div class="item2-detail">
                <img src="assets/tv.png" alt="">
                <span class="text">Kitchen</span>
            </div>
            <div class="item2-detail">
                <img src="assets/wifi.png" alt="">
                <span class="text">Kitchen</span>
            </div>
            <div class="item2-detail">
                <img src="assets/patio.png" alt="">
                <span class="text">Kitchen</span>
            </div>
        </div>
    </div>

    <button>Show All 10 Amenities</button>
</div>