.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.footer-button {
  background-color: #f3f8fb;
  width: 100%;
  padding: 0.5rem 0;
  border: none;
  border-radius: 10px;
  color: balck;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: Arial, sans-serif;
}

.footer-button:hover {
  cursor: pointer;
}

.google-btn img {
  height: 18px;
  width: 18px;
}
